<div id="carouselExampleIndicators" class="carousel slide mt-5 mb-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://media.istockphoto.com/vectors/web-banner-or-horizontal-template-design-with-special-offer-on-mobile-vector-id1194426021?k=6&m=1194426021&s=170667a&w=0&h=nAl-o3dYC7A6hPvrm2_LHFGoGrk1xKF_03XkZXN4CRQ="
        class="d-block w-100" height="700px">
    </div>
    <div class="carousel-item">
      <img src="http://www.sagmart.com/uploads/2018/08/08/news_image1/Best-Bike.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/2e/51/6f/2e516fa21ba1c4b354c425ced9a91000.jpg" class="d-block w-100"
        alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div id="first">
  <div class="blog-slider swiper-container-fade swiper-container-initialized swiper-container-horizontal">
    <div class="blog-slider__wrp swiper-wrapper" style="transition-duration: 0ms;"><div class="blog-slider__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="2" style="width: 745px; transition-duration: 0ms; opacity: 1; transform: translate3d(0px, 0px, 0px);">
        <div class="blog-slider__img">
          <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
        <div class="blog-slider__content">
          <div class="blog-slider__title">Lorem Ipsum Dolor</div>
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        </div>
      </div>
       <!--if changes to the three cards done from here -->
      <div class="blog-slider__item swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" style="width: 745px; transition-duration: 0ms; opacity: 1; transform: translate3d(-745px, 0px, 0px);">
        <div class="blog-slider__img">
          <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
        <div class="blog-slider__content">
          <div class="blog-slider__title">Welcome to Delish</div>
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
        </div>
      </div>
      
      <div class="blog-slider__item swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 745px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1490px, 0px, 0px);">
        <div class="blog-slider__img">
          <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
        <div class="blog-slider__content">
          <div class="blog-slider__title">Good service is a blissful experience</div>
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        </div>
      </div>
      
      <div class="blog-slider__item swiper-slide swiper-slide-active" data-swiper-slide-index="2" style="width: 745px; transition-duration: 0ms; opacity: 1; transform: translate3d(-2235px, 0px, 0px);">
        <div class="blog-slider__img">
          <img src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Zm9vZHxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <div class="blog-slider__content">
          <div class="blog-slider__title">Deliciousness you have never eaten before before</div>
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        </div>
      </div>
      <!--the above three cards are the display-->
    <div class="blog-slider__item swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" style="width: 745px; transition-duration: 0ms; opacity: 0; transform: translate3d(-2980px, 0px, 0px);">
        <div class="blog-slider__img">
          <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
        <div class="blog-slider__content">
          <div class="blog-slider__title">Lorem Ipsum Dolor</div>
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
        </div>
      </div></div>
    <div class="blog-slider__pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
  <div  id="second" class="blog-slider swiper-container-fade swiper-container-initialized swiper-container-horizontal">
      <div class="blog-slider__wrp swiper-wrapper" style="transition-duration: 0ms;"><div class="blog-slider__item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="2" style="width: 745px; transition-duration: 0ms; opacity: 1; transform: translate3d(0px, 0px, 0px);">
          <div class="blog-slider__img">
            <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
          </div>
          <div class="blog-slider__content">
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
          </div>
        </div>
    
        <div class="blog-slider__item swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" style="width: 745px; transition-duration: 0ms; opacity: 1; transform: translate3d(-745px, 0px, 0px);">
          <div class="blog-slider__img">
            <img src="https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGZvb2R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="blog-slider__content">
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
          </div>
        </div>
        
        <div class="blog-slider__item swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 745px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1490px, 0px, 0px);">
          <div class="blog-slider__img">
            <img src="https://images.unsplash.com/photo-1551632436-cbf8dd35adfa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMHNlcnZpY2V8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="blog-slider__content">
            <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
          </div>
        </div>
        
        <div class="blog-slider__item swiper-slide swiper-slide-active" data-swiper-slide-index="2" style="width: 745px; transition-duration: 0ms; opacity: 1; transform: translate3d(-2235px, 0px, 0px);">
          <div class="blog-slider__img">
            <img src="https://images.unsplash.com/photo-1464195643332-1f236b1c2255?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZCUyMHNlcnZpY2V8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="blog-slider__content">
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
          </div>
        </div>
        
      <div class="blog-slider__item swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" style="width: 745px; transition-duration: 0ms; opacity: 0; transform: translate3d(-2980px, 0px, 0px);">
          <div class="blog-slider__img">
            <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
          </div>
          <div class="blog-slider__content">
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
          </div>
        </div></div>
      <div class="blog-slider__pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>